# Fundamentals of Data Analysis 2021
---
### Sam Tracey
### December 2021
### Overview of matplotlib.pyplot Python package

In [2]:
# Plotting [1]
import matplotlib.pyplot as plt
# Data Analysis Library [2]
import pandas as pd

In [5]:
# Change default styling sheet.[3]
plt.style.use('seaborn')

#Change default figure size [4]
plt.rcParams['figure.figsize'] = [12, 6]

In [4]:
# Load data from Data.Gov.Ie official website.
df = pd.read_csv("https://opendata-geohive.hub.arcgis.com/datasets/d8eb52d56273413b84b0187a4e9117be_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D")
# Take a look at the first 10 rows of the datset.
df.head(10)

,X,Y,Date,ConfirmedCovidCases,TotalConfirmedCovidCases,ConfirmedCovidDeaths,TotalCovidDeaths,StatisticsProfileDate,CovidCasesConfirmed,HospitalisedCovidCases,...,CommunityTransmission,CloseContact,TravelAbroad,FID,HospitalisedAged65to74,HospitalisedAged75to84,HospitalisedAged85up,Aged65to74,Aged75to84,Aged85up
0,-856335.869598,7.036492e+06,2020/02/29 00:00:00+00,1,1,0.0,0,2020/02/27 00:00:00+00,NaN,NaN,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,-856335.869598,7.036492e+06,2020/03/03 00:00:00+00,1,2,0.0,0,2020/03/01 00:00:00+00,NaN,NaN,...,0,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-856335.869598,7.036492e+06,2020/03/04 00:00:00+00,4,6,0.0,0,2020/03/02 00:00:00+00,1.0,0.0,...,0,0,0,3,0.0,0.0,0.0,0.0,0.0,0.0
3,-856335.869598,7.036492e+06,2020/03/05 00:00:00+00,7,13,0.0,0,2020/03/03 00:00:00+00,2.0,1.0,...,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0
4,-856335.869598,7.036492e+06,2020/03/06 00:00:00+00,5,18,0.0,0,2020/03/04 00:00:00+00,5.0,4.0,...,0,0,0,5,0.0,0.0,0.0,0.0,0.0,0.0
5,-856335.869598,7.036492e+06,2020/03/07 00:00:00+00,1,19,0.0,0,2020/03/05 00:00:00+00,8.0,7.0,...,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0
6,-856335.869598,7.036492e+06,2020/03/08 00:00:00+00,2,21,0.0,0,2020/03/06 00:00:00+00,13.0,9.0,...,0,0,0,7,0.0,0.0,0.0,0.0,0.0,0.0
7,-856335.869598,7.036492e+06,2020/03/09 00:00:00+00,3,24,0.0,0,2020/03/07 00:00:00+00,16.0,11.0,...,0,0,0,8,0.0,0.0,0.0,0.0,0.0,0.0
8,-856335.869598,7.036492e+06,2020/03/10 00:00:00+00,10,34,0.0,0,2020/03/08 00:00:00+00,18.0,13.0,...,0,0,0,9,2.0,0.0,0.0,2.0,0.0,0.0
9,-856335.869598,7.036492e+06,2020/03/11 00:00:00+00,9,43,1.0,1,2020/03/09 00:00:00+00,25.0,18.0,...,0,0,0,10,2.0,0.0,0.0,3.0,0.0,0.0

<br>

## Matplotlib.plotly Time Series Chart

***

<br>

## References

[1](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.html) Matplotlib.pyplot Documentation available at: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.html

[2](https://pandas.pydata.org/docs/) The Pandas Documentation Team (2021) Pandas Documentation. Available at:https://pandas.pydata.org/docs/ Accessed: October 2021

[3](https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html) Matplotlib.pyplot Styling Sheet. Available at: https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html Accessed: October 2021

[4](https://towardsdatascience.com/change-figure-size-matplotlib-11a409f39584) Myrianthous, G. (2021) How to Change the Size of Figures in Matplotlib. Available at: How to Change the Size of Figures in Matplotlib Accessed: October 2021

[x](https://realpython.com/python-matplotlib-guide/) Solomon, B. (2018) Python Plotting With Matplotlib (Guide). Real Python. Available at: https://realpython.com/python-matplotlib-guide/ Accessed 11th October 2021


***

<br>

## End

***